<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Orbiter is a bootstrap minimal & clean admin template">
    <meta name="keywords" content="admin, admin panel, admin template, admin dashboard, responsive, bootstrap 4, ui kits, ecommerce, web app, crm, cms, html, sass support, scss">
    <meta name="author" content="Themesbox">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>نظام الحركات</title>
    <!-- Fevicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <!-- Start css -->
    <!-- Switchery css -->
    <link href="~/assets/plugins/switchery/switchery.min.css" rel="stylesheet">
    <!-- Apex css -->
    <link href="~/assets/plugins/apexcharts/apexcharts.css" rel="stylesheet">
    <!-- Slick css -->
    <link href="~/assets/plugins/slick/slick.css" rel="stylesheet">
    <link href="~/assets/plugins/slick/slick-theme.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/flag-icon.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css">
    <!-- End css -->
</head>

<body class="vertical-layout">


    <div id="containerbar">
        <!-- Start Leftbar -->
        <div class="leftbar">
            <!-- Start Sidebar -->
            <div class="sidebar">
                <!-- Start Logobar -->
                <div class="logobar">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="logo logo-large"><img src="~/assets/images/logo1.png" class="img-fluid" alt="logo"></a>

                </div>
                <!-- End Logobar -->
                <!-- Start Navigationbar -->
                <div class="navigationbar">
                    <ul class="vertical-menu">
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="active">
                                <img src="~/assets/images/svg-icon/dashboard.svg" class="img-fluid" alt="dashboard"><span>الرئيسية</span><i></i>

                            </a>
                        </li>

                        <li>
                            <a href="javaScript:void();">
                                <img src="~/assets/images/svg-icon/pages.svg" class="img-fluid" alt="pages"><span>ادارة الحركات</span><i class="feather icon-chevron-right"></i>
                            </a>
                            <ul class="vertical-submenu">


                                <li><a asp-area="" asp-controller="Home" asp-action="CreateNewMovement">اضافة حركة جديدة</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="MovementList">سجل الحركات</a></li>


                            </ul>
                        </li>
                        <li>
                            <a href="javaScript:void();">
                                <img src="~/assets/images/svg-icon/pages.svg" class="img-fluid" alt="pages"><span>ادارة المركبات</span><i class="feather icon-chevron-right"></i>
                            </a>
                            <ul class="vertical-submenu">

                                <li><a asp-area="" asp-controller="Home" asp-action="CreateVehicle">اضافة المركبات جديدة</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="VehicleList">سجل المركبات</a></li>



                            </ul>
                        </li>
                        <li>
                            <a href="javaScript:void();">
                                <img src="~/assets/images/svg-icon/pages.svg" class="img-fluid" alt="pages"><span>ادارة المواقع</span><i class="feather icon-chevron-right"></i>
                            </a>
                            <ul class="vertical-submenu">

                                <li><a href="page-starter.html">اضافة موقع جديدة</a></li>
                                <li><a href="page-blog.html">سجل المواقع</a></li>



                            </ul>
                        </li>

                        <li>
                            <a href="javaScript:void();">
                                <img src="~/assets/images/svg-icon/pages.svg" class="img-fluid" alt="pages"><span>التقاير  </span><i class="feather icon-chevron-right"></i>
                            </a>
                            <ul class="vertical-submenu">


                                <!-- <li><a href="page-starter.html">اضافة حركة جديدة</a></li>
                                <li><a href="page-blog.html">سجل الحركات</a></li> -->


                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- End Navigationbar -->
            </div>
            <!-- End Sidebar -->
        </div>
        <!-- End Leftbar -->
        <!-- Start Rightbar -->
        <div class="rightbar">
            <div class="topbar-mobile">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="mobile-logobar">
                            <a href="index.html" class="mobile-logo"><img src="~/assets/images/logo.svg" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="mobile-togglebar">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <div class="topbar-toggle-icon">
                                        <a class="topbar-toggle-hamburger" href="javascript:void();">
                                            <img src="~/assets/images/svg-icon/horizontal.svg" class="img-fluid menu-hamburger-horizontal" alt="horizontal">
                                            <img src="~/assets/images/svg-icon/verticle.svg" class="img-fluid menu-hamburger-vertical" alt="verticle">
                                        </a>
                                    </div>
                                </li>
                                <li class="list-inline-item">
                                    <div class="menubar">
                                        <a class="menu-hamburger" href="javascript:void();">
                                            <img src="~/assets/images/svg-icon/collapse.svg" class="img-fluid menu-hamburger-collapse" alt="collapse">
                                            <img src="~/assets/images/svg-icon/close.svg" class="img-fluid menu-hamburger-close" alt="close">
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Topbar -->
            <div class="topbar">
                <!-- Start row -->
                <div class="row align-items-center">
                    <!-- Start col -->
                    <div class="col-md-12 align-self-center">
                        <div class="togglebar">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <div class="menubar">
                                        <a class="menu-hamburger" href="javascript:void();">
                                            <img src="~/assets/images/svg-icon/collapse.svg" class="img-fluid menu-hamburger-collapse" alt="collapse">
                                            <img src="~/assets/images/svg-icon/close.svg" class="img-fluid menu-hamburger-close" alt="close">
                                        </a>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="infobar">
                            <ul class="list-inline mb-0">


                                <li class="list-inline-item">
                                    <div class="profilebar">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" href="#" role="button" id="profilelink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/assets/images/users/profile.svg" class="img-fluid" alt="profile"><span class="feather icon-chevron-down live-icon"></span></a>
                                            <div class="dropdown-menu" aria-labelledby="profilelink">
                                                <div class="dropdown-item">
                                                    <div class="profilename">
                                                        <h5>John Doe</h5>
                                                    </div>
                                                </div>
                                                <div class="userbox">
                                                    <ul class="list-unstyled mb-0">

                                                        <li class="media dropdown-item">
                                                            <a href="#" class="profile-icon"><img src="~/assets/images/svg-icon/logout.svg" class="img-fluid" alt="logout">Logout</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End row -->
            </div>

            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>


            <!-- End Footerbar -->
        </div>
        <!-- End Rightbar -->
    </div>




    <br />
    <br />
    <br />

    <div class="footerbar">
        <footer class="footer">
            <p class="mb-0">© 2020 مديرية الهندسة العسكرية - نظام الحركات</p>
        </footer>
    </div>
    @*orginal with project*@
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/modernizr.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/vertical-menu.js"></script>
    <!-- Switchery js -->
    <script src="~/assets/plugins/switchery/switchery.min.js"></script>
    <!-- Apex js -->
    <script src="~/assets/plugins/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/plugins/apexcharts/irregular-data-series.js"></script>
    <!-- Slick js -->
    <script src="~/assets/plugins/slick/slick.min.js"></script>
    <!-- Custom Dashboard js -->
    <script src="~/assets/js/custom/custom-dashboard.js"></script>
    <!-- Core js -->
    <script src="~/assets/js/core.js"></script>
    <!-- End js -->
    @await Component.InvokeAsync("Notyf");

    @RenderSection("Scripts", required: false)

    @RenderSection("datatable_section", required: false)

    @*@RenderSection("datepicker_CreateVehicle", required: false)*@
    @RenderSection("wizard", required: false)

    @RenderSection("Searchable_drop", required: false)



</body>
</html>
