@model MovementSystem.Models.TableMv1Vehicle

@{
    ViewData["Title"] = "CreateVehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .padding {
        padding-bottom: 10px
    }
</style>

<div class="breadcrumbbar">
    <div class="row align-items-center">
        <div class="col-md-8 col-lg-8">
            <h4 class="page-title">Wizards</h4>
            <div class="breadcrumb-list">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Forms</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Wizards</li>
                </ol>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="widgetbar">
                <button class="btn btn-primary-rgba"><i class="feather icon-plus mr-2"></i>Actions</button>
            </div>
        </div>
    </div>
</div>
<h4>اضافة مركبة جديدة</h4>
<hr />



<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="contentbar">
    <!-- Start row -->
    <div class="row">
        <!-- End col -->
        <div class="col-lg-12">
            <div class="card m-b-30">
                <div class="card-header">
                    <h5 class="card-title">اضافة مركبة جديدة</h5>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class=" col-xl-12">
                            <form id="basic-form-wizard" asp-action="CreateVehicle">
                                <div>
                                    <h3></h3>
                                    <section>

                                        <div class="row padding">
                                            <div class="col">

                                                <label class="control-label">رقم الشاصي</label>
                                                <input asp-for="VinNo" class="form-control" />
                                                <span asp-validation-for="VinNo" class="text-danger"></span>

                                            </div>
                                            <div class="col">
                                                <label class="control-label">رقم اللوحة</label>
                                                <input asp-for="PlateNumber" class="form-control" />
                                                <span asp-validation-for="PlateNumber" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <div class="row padding">
                                            <div class="col">
                                                <label class="control-label">نوع الهيكل</label>

                                                <select id="bodyTypelist" class="form-control" asp-for="VehicleBodyType" asp-items="@(new SelectList(ViewBag.bodyTypeList))">
                                                    >

                                                    <option value="">--نوع الهيكل--</option>
                                                </select>
                                                <input type="hidden" asp-for="VehicleBodyType" />




                                            </div>
                                            <div class="col">
                                                <label class="control-label">اسم الهيكل</label>

                                                <select id="VehicleBodyName" class="form-control" asp-for="VehicleBodyName" asp-items="@(new SelectList(ViewBag.bodynamesList))">
                                                    >

                                                    <option value="">--اسم الهيكل--</option>
                                                </select>
                                                <input type="hidden" asp-for="VehicleBodyName" />


                                            </div>
                                        </div>



                                        <div class="row padding">
                                            <div class="col">

                                                <label class="control-label">اسم المركبة</label>
                                                <select id="VehicleNamelist" class="form-control" asp-for="VehicleName" asp-items="@(new SelectList(ViewBag.vehiclename))">
                                                    >

                                                    <option value="">--اسم المركبة  --</option>
                                                </select>
                                                <span asp-validation-for="VehicleName" class="text-danger"></span>

                                            </div>
                                            <div class="col">

                                                <label class="control-label">الرقم التعيفي للمركبة</label>
                                                <input asp-for="IdVechicle" class="form-control" />
                                                <span asp-validation-for="IdVechicle" class="text-danger"></span>

                                            </div>
                                        </div>



                                    </section>
                                    <h3></h3>
                                    <section>
                                        <div class="row padding">
                                            <div class="col">
                                                <label class="control-label">موديل المركبة</label>
                                                <input asp-for="VehicleModel" class="form-control" />
                                                <span asp-validation-for="VehicleModel" class="text-danger"></span>

                                            </div>
                                            <div class="col">
                                                <label class="control-label">المنشيء</label>
                                                <input asp-for="VehicleBrand" class="form-control" />
                                                <span asp-validation-for="VehicleBrand" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <div class="row padding">
                                            <div class="col">
                                                <label class="control-label">عدد الركاب</label>
                                                <input asp-for="PassengersNo" class="form-control" />
                                                <span asp-validation-for="PassengersNo" class="text-danger"></span>

                                            </div>
                                            <div class="col">
                                                <label class="control-label">عدد المحاور</label>
                                                <select id="WheelNo" class="form-control" asp-for="WheelNo">
                                                    <option value="">--اختيار--</option>
                                                    <option value="2">2</option>
                                                    <option value="4">4</option>
                                                    <option value="6">6</option>
                                                    <option value="8">8</option>
                                                    <option value="10">10</option>

                                                </select>
                                                <span asp-validation-for="WheelNo" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <div class="row padding">
                                            <div class="col">
                                                <label class="control-label">لون المركبة</label>
                                                <input asp-for="StatusLastVehicleColor" class="form-control" />
                                                <span asp-validation-for="StatusLastVehicleColor" class="text-danger"></span>

                                            </div>
                                            <div class="col">

                                                <label class="control-label">سعر المركبة</label>
                                                <input asp-for="VehiclePrice" class="form-control" />
                                                <span asp-validation-for="VehiclePrice" class="text-danger"></span>
                                            </div>
                                        </div>





                                    </section>
                                    <h3></h3>
                                    <section>
                                        <div class="row padding">
                                            <div class="col">
                                                <label class="control-label">حالة التدريع</label>
                                                <select id="StatusLastArmored" class="form-control" asp-for="StatusLastArmored">
                                                    <option value="">--اختيار--</option>
                                                    <option value="مدرعة">مدرعة</option>
                                                    <option value="غير مدرعة">غير مدرعة</option>
                                                </select>
                                                <span asp-validation-for="StatusLastArmored" class="text-danger"></span>

                                            </div>
                                            <div class="col">

                                                <label class="control-label">الحمولة</label>
                                                <input asp-for="Payload" class="form-control" />
                                                <span asp-validation-for="Payload" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row padding">
                                            <div class="col">
                                                <label class="control-label">عدد الكيلومتر</label>
                                                <input asp-for="StatusLastKilometers" class="form-control" />
                                                <span asp-validation-for="StatusLastKilometers" class="text-danger"></span>

                                            </div>
                                            <div class="col">
                                                <label class="control-label">عدد ساعات العمل</label>
                                                <input asp-for="StatusLastHoursWork" class="form-control" />
                                                <span asp-validation-for="StatusLastHoursWork" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <div class="row padding">
                                            <div class="col">

                                                <label class="control-label">مستودع المركبة</label>

                                                <select id="StatusLastVehicleWarehouse" class="form-control" asp-for="StatusLastVehicleWarehouse" asp-items="@(new SelectList(ViewBag.vehiclWarehouse))">
                                                    >

                                                    <option value="">--مستودع المركبة--</option>
                                                </select>
                                                <span asp-validation-for="StatusLastVehicleWarehouse" class="text-danger"></span>
                                            </div>
                                            <div class="col">
                                                <label class="control-label">عائدية المركبة</label>

                                                <select id="StatusLastVehicleSource" class="form-control" asp-for="StatusLastVehicleSource" asp-items="@(new SelectList(ViewBag.vehicleSource))">
                                                    >

                                                    <option value="">--عائدية المركبة--</option>
                                                </select>                    <span asp-validation-for="StatusLastVehicleSource" class="text-danger"></span>

                                            </div>
                                        </div>

                                    </section>
                                    <h3></h3>
                                    <section>
                                        <div class="row padding">
                                            <div class="col">

                                                <label class="control-label">مسؤول المركبة</label>

                                                <select id="VehicleAdministrator" class="form-control" asp-for="VehicleAdministrator" asp-items="@(new SelectList(ViewBag.individul_fullname))">
                                                    >

                                                    <option value="">--مسؤول المركبة  --</option>
                                                </select>
                                                <span asp-validation-for="VehicleAdministrator" class="text-danger"></span>

                                            </div>
                                            <div class="col">
                                                <label class="control-label">نسبة الاستهلاك</label>
                                                <select id="StatusLastVehicleConsumingRate" class="form-control" asp-for="StatusLastVehicleConsumingRate">
                                                    <option value="">--اختيار--</option>
                                                    <option value="10%">10%</option>
                                                    <option value="20%">20%</option>
                                                    <option value="30%">30%</option>
                                                    <option value="40%">40%</option>
                                                    <option value="50%">50%</option>
                                                    <option value="60%">60%</option>
                                                    <option value="70%">70%</option>
                                                    <option value="80%">80%</option>
                                                    <option value="90%">90%</option>
                                                    <option value="100%">100%</option>
                                                </select>
                                                <span asp-validation-for="StatusLastVehicleConsumingRate" class="text-danger"></span>


                                            </div>
                                        </div>
                                        <div class="row padding">
                                            <div class="col">
                                                <label class="control-label">رقم المستند</label>
                                                <input asp-for="DocumentNo" class="form-control" />
                                                <span asp-validation-for="DocumentNo" class="text-danger"></span>


                                            </div>
                                            <div class="col">
                                                <label class="control-label">تاريخ المستند</label>



                                                <input asp-for="DocumentDate" id="datepicker" type="text" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                                <span asp-validation-for="DocumentDate" class="text-danger"></span>

                                              


                                            </div>
                                        </div>
                                        <div class="row padding">
                                            <div class="col">
                                                <label class="control-label">حالة الواجب</label>
                                                <select id="StatusLastVehicleMovement" class="form-control" asp-for="StatusLastVehicleMovement">
                                                    <option value="">--اختيار--</option>
                                                    <option value="اثناء الواجب"> اثناء الواجب</option>
                                                    <option value="بدون واجب">  بدون واجب</option>



                                                </select>
                                                <span asp-validation-for="StatusLastVehicleMovement" class="text-danger"></span>


                                            </div>
                                            <div class="col">

                                                <label class="control-label">حالة جاهزية المركبة</label>
                                                <select id="StatusLastVehicle" class="form-control" asp-for="StatusLastVehicle">
                                                    <option value="">--اختيار--</option>
                                                    <option value=" جاهزة"> جاهزة</option>
                                                    <option value="  تحت الصيانة">  تحت الصيانة</option>
                                                    <option value=" عاطلة">    عاطلة</option>



                                                </select>
                                                <span asp-validation-for="StatusLastVehicle" class="text-danger"></span>

                                            </div>

                                        </div>

                                        <div class="row padding">
                                            <div class="col">
                                                <label class="control-label">ملاحظات</label>
                                                <input asp-for="NotesMe" class="form-control" />
                                                <span asp-validation-for="NotesMe" class="text-danger"></span>

                                            </div>
                                            <div class="col-md-3">
                                                @*<label class="control-label">تاريخ الاضافة </label>*@

                                                <input asp-for="DateAdd" id="datepicker" type="hidden" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                                <span asp-validation-for="DateAdd" class="text-danger"></span>
                                            </div>
                                        </div> 
                                        @*<div class="row padding">
                                            <div class="form-group col">
                                                <input type="submit" value="اضافة" class="btn btn-primary" />
                                            </div>

                                        </div>*@

                                    </section>


                                </div>
                            </form>
                            <div class="row padding">

                                <div class="form-group " style="float:right">
                                    <a asp-action="Index" style="float:left ; padding-right:10px">رجوع </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End col -->


    </div>
    <!-- End row -->
</div>


  





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


@*@section datepicker_CreateVehicle
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
}*@
@section Searchable_drop
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js">
    </script>
    <script type="text/javascript">
        $(function () {
            $("#VehicleAdministrator").select2();
        });
    </script>
}
@section wizard{
    <script src="~/assets/plugins/jquery-step/jquery.steps.min.js"></script>

    <script src="~/assets/js/custom/custom-form-wizard.js"></script>


}
